In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('AhmedabadDataset.csv')
df2 = pd.read_csv('BangaloreDataset.csv')
df3 = pd.read_csv('ChennaiDataset.csv')
df4 = pd.read_csv('DelhiDataset.csv')
df5 = pd.read_csv('HyderabadDataset.csv')
df6 = pd.read_csv('KolkataDataset.csv')
df7 = pd.read_csv('MumbaiDataset.csv')
df8 = pd.read_csv('PuneDataset.csv')

In [3]:
print("No of Records for Ahmedabad : " , df1.shape[0])
print("No of Records for Bangalore : " , df2.shape[0])
print("No of Records for Chennai : " , df3.shape[0])
print("No of Records for Delhi : " , df4.shape[0])
print("No of Records for Hyderabad : " , df5.shape[0])
print("No of Records for Kolkata : " , df6.shape[0])
print("No of Records for Mumbai : " , df7.shape[0])
print("No of Records for Pune : " , df8.shape[0])

No of Records for Ahmedabad :  18453
No of Records for Bangalore :  23072
No of Records for Chennai :  8658
No of Records for Delhi :  32608
No of Records for Hyderabad :  10544
No of Records for Kolkata :  9664
No of Records for Mumbai :  67416
No of Records for Pune :  22596

In [4]:
list(set(df1) & set(df2) & set(df3) & set(df4) & set(df5) & set(df6) & set(df7) & set(df8))

['layout_type',
 'furnish_type',
 'city',
 'bathroom',
 'bedroom',
 'seller_type',
 'property_type',
 'area',
 'locality',
 'price']

In [8]:
df5.tail()

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city
10539,AGENT,1.0,BHK,Apartment,Begumpet,6000.0,850.0,Semi-Furnished,1.0,Hyderabad
10540,AGENT,2.0,BHK,Apartment,Ameerpet,12000.0,1300.0,Semi-Furnished,2.0,Hyderabad
10541,AGENT,2.0,BHK,Apartment,Ameerpet,15000.0,1200.0,Semi-Furnished,2.0,Hyderabad
10542,AGENT,2.0,BHK,Apartment,Begumpet,17000.0,1300.0,Furnished,2.0,Hyderabad
10543,AGENT,2.0,BHK,Apartment,Somajiguda,15000.0,1500.0,Semi-Furnished,2.0,Hyderabad